<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExeName" value="ekd5.exe" />
    <add key="DataFileName" value="data.e5" />
    <add key="PmapobjFileName" value="pmapobj.e5" />
    <add key="StarFileName" value="star.e5" />
    <add key="FaceFileName" value="face.e5" />
    <add key="USelectFileName" value="U_select.e5" />
    <add key="AllFontFileName" value="ALL_FONT.16P" />
    <add key="AnkFontFileName" value="ANKFONT.DAT" />
    <add key="VarCount" value="4096" />
    <add key="CharacterCount" value="1024" />
    <add key="CharacterDataOffset" value="0x18C" />
    <add key="CharacterDataLength" value="0x20" />
    <add key="ItemCount" value="0x68" />
    <add key="ItemDataOffset" value="0x818C" />
    <add key="ItemDataLength" value="0x19" />
    <add key="StarItemCount" value="0x97" />
    <add key="StarItemDataOffset" value="0" />
    <add key="StarItemDataLength" value="0x19" />
    <add key="WeaponMin" value="0" />
    <add key="WeaponMax" value="19" />
    <add key="ArmorMin" value="20" />
    <add key="ArmorMax" value="25" />
    <add key="AuxiliaryMin" value="26" />
    <add key="AuxiliaryMax" value="254" />
    <add key="ConsumablesMin" value="71" />
    <add key="ConsumablesMax" value="84" />
    <add key="AtkBomb" value="88" />
    <add key="ClassCount" value="0xF0" />
    <add key="ClassNameExeOffset" value="0x14E970" />
    <add key="ClassNameLength" value="16" />
    <add key="EEXCount" value="99" />
    <add key="BackgroundCount" value="127" />
    <add key="InGameBackgroundCount" value="256" />
    <add key="BattleMapCount" value="99" />
    <add key="PMapObjCount" value="256" />
    <add key="MovieCount" value="99" />
    <add key="TrackCount" value="199" />
    <add key="SECount" value="43" />
    <add key="SE_MCount" value="37" />
    <add key="SE_ECount" value="9" />
    <add key="LevelMax" value="99" />
    <add key="ItemLevelMax" value="9" />
    <add key="McallMax" value="99" />
    <add key="GateMax" value="186" />
    <add key="LogoMax" value="40" />
    <add key="SavedCharacterList" value="[&quot;기본&quot;]" />
    <add key="ExceptCharactersList" value="[[]]" />
    <add key="ArmorBaseIndex" value="0x30" />
    <add key="AuxBaseIndex" value="0x46" />
    <add key="ConsumablesBaseIndex" value="0x57" />
    <add key="ConsumablesCount" value="0x2B" />
  </appSettings>
</configuration>