<Config>
	<TypeName>Star175 6.1 코드확장</TypeName>
	<DisplayName>Star175 6.1 코드확장</DisplayName>
	<ItemCustomRange>false</ItemCustomRange>
	<SingularAttribute>false</SingularAttribute>
	<StarUsing>true</StarUsing>
	<ObjExtension>true</ObjExtension>
	<SpcExtension>true</SpcExtension>
	<AIExtension>true</AIExtension>
	<MagicLearnExtension>true</MagicLearnExtension>
	<SaveCombination>true</SaveCombination>
	<ProVersion>false</ProVersion>
	<DataFileDirectory>C:\</DataFileDirectory>
	<ExeName>Ekd5.exe</ExeName>
	<Offsets>
		<Offset Key="Game_Unit_Count">400</Offset>
		<Offset Key="Game_Unit_Offset">18C</Offset>
		<Offset Key="Game_Item_Count">68</Offset>
		<Offset Key="Game_Item_Offset">818C</Offset>
		<Offset Key="Game_Shop_Offset">8BB4</Offset>
		<Offset Key="Game_Force_Offset">9DB4</Offset>
		<Offset Key="Game_Force_Length">23</Offset>
		<Offset Key="Game_Terrain_Offset">A8A4</Offset>
		<Offset Key="Game_Magic_Count">4A</Offset>
		<Offset Key="Game_Magic_Offset">B204</Offset>
		<Offset Key="Game_Magic_Length">61</Offset>
		<Offset Key="Imsg_Item_Offset">0</Offset>
		<Offset Key="Imsg_Magic_Offset">7F58</Offset>
		<Offset Key="Imsg_Stage_Count">63</Offset>
		<Offset Key="Imsg_Stage_Offset">C350</Offset>
		<Offset Key="Imsg_Force_Offset">11170</Offset>
		<Offset Key="Imsg_UnitOriginal_Offset">15F90</Offset>
		<Offset Key="Imsg_Retreat_Offset">1FBD0</Offset>
		<Offset Key="Imsg_Critical_Offset">222E0</Offset>
		<Offset Key="Imsg_Staff_Offset">27100</Offset>
		<Offset Key="Imsg_UnitExtension_Offset">2D050</Offset>
		<Offset Key="Star_Item_Count">9A</Offset>
		<Offset Key="Star_Item_Offset">0</Offset>
		<Offset Key="Image_Face_Count">3E8</Offset>
		<Offset Key="Image_PmapObj_Count">7D0</Offset>
		<Offset Key="Image_SmapObj_Count">5DC</Offset>
		<Offset Key="Exe_Unit_Cha">E2800</Offset>
		<Offset Key="Exe_Unit_Pmapobj">E1000</Offset>
		<Offset Key="Exe_Unit_Spc">D2800</Offset>
		<Offset Key="Exe_ThreeSpc">20</Offset>
		<Offset Key="Exe_Item_Force_Count">3A</Offset>
		<Offset Key="Exe_Item_Force_Offset">4B730</Offset>
		<Offset Key="Exe_Critical_Offset">89C30</Offset>
		<Offset Key="Exe_Force_Restraint">A3280</Offset>
		<Offset Key="Exe_Force_AtkEffarea">6C81</Offset>
		<Offset Key="Exe_Force_MovSound">A38C0</Offset>
		<Offset Key="Exe_Force_MovSpeed">A38E8</Offset>
		<Offset Key="Exe_Force_AtkSound">A3910</Offset>
		<Offset Key="Exe_Force_AtkType">A3938</Offset>
		<Offset Key="Exe_Force_ForceType">A3988</Offset>
		<Offset Key="Exe_Force_MagicDamage">A39B0</Offset>
		<Offset Key="Exe_Force_PincerAtk">A39D8</Offset>
		<Offset Key="Exe_Force_AtkDelay">A3960</Offset>
		<Offset Key="Exe_Force_AI">4D0CC</Offset>
		<Offset Key="Exe_Force_Skill">A3A00</Offset>
		<Offset Key="Exe_Force_NewUnit">A076A</Offset>
		<Offset Key="Exe_Force_Silence_Start">8</Offset>
		<Offset Key="Exe_Force_Silence_Offset">395F6</Offset>
		<Offset Key="Exe_Force_Silence_End">10</Offset>
		<Offset Key="Exe_Magic_Category_Start">0</Offset>
		<Offset Key="Exe_Magic_Category_Offset">24E53</Offset>
		<Offset Key="Exe_Magic_Category_End">49</Offset>
		<Offset Key="Exe_Magic_DamageType_Start">0</Offset>
		<Offset Key="Exe_Magic_DamageType_Offset">48FC3</Offset>
		<Offset Key="Exe_Magic_DamageType_End">49</Offset>
		<Offset Key="Exe_Magic_HealType_Start">26</Offset>
		<Offset Key="Exe_Magic_HealType_Offset">3BB14</Offset>
		<Offset Key="Exe_Magic_HealType_End">43</Offset>
		<Offset Key="Exe_Magic_AI_Start">0</Offset>
		<Offset Key="Exe_Magic_AI_Offset">39580</Offset>
		<Offset Key="Exe_Magic_AI_End">48</Offset>
		<Offset Key="Exe_Magic_Condition_Start">0</Offset>
		<Offset Key="Exe_Magic_Condition_Offset">1F47C</Offset>
		<Offset Key="Exe_Magic_Condition_End">49</Offset>
		<Offset Key="Exe_Magic_Power_Start">0</Offset>
		<Offset Key="Exe_Magic_Power_Offset">3B71E</Offset>
		<Offset Key="Exe_Magic_Power_End">48</Offset>
		<Offset Key="Exe_Magic_Hit_Start">0</Offset>
		<Offset Key="Exe_Magic_Hit_Offset">3AE07</Offset>
		<Offset Key="Exe_Magic_Hit_End">49</Offset>
		<Offset Key="Exe_Magic_Meff_Start">0</Offset>
		<Offset Key="Exe_Magic_Meff_Offset">858BE</Offset>
		<Offset Key="Exe_Magic_Meff_End">49</Offset>
		<Offset Key="Exe_Magic_Mcall_Start">3</Offset>
		<Offset Key="Exe_Magic_Mcall_Offset">20BBE</Offset>
		<Offset Key="Exe_Magic_Mcall_End">43</Offset>
		<Offset Key="Exe_Magic_Learn_Start">0</Offset>
		<Offset Key="Exe_Magic_Learn_Offset">65208</Offset>
		<Offset Key="Exe_Magic_Learn_End">49</Offset>
		<Offset Key="Exe_Code_Count">7F</Offset>
		<Offset Key="Exe_Code_Offset">DA1B0</Offset>
		<Offset Key="Exe_Code_Name_Offset">105800</Offset>
		<Offset Key="Exe_Skill_Offset">DA000</Offset>
		<Offset Key="Exe_Skill_Name_Offset">D0F01</Offset>
		<Offset Key="Exe_Treasure_View_Offset">61709</Offset>
	</Offsets>
	<Forces>
		<Force Id="0">D18D0</Force>
		<Force Id="1">D18D9</Force>
		<Force Id="2">D18E2</Force>
		<Force Id="3">D18EB</Force>
		<Force Id="4">D18F4</Force>
		<Force Id="5">D18FD</Force>
		<Force Id="6">D1906</Force>
		<Force Id="7">D190F</Force>
		<Force Id="8">D1918</Force>
		<Force Id="9">D1921</Force>
		<Force Id="10">D192A</Force>
		<Force Id="11">D1933</Force>
		<Force Id="12">D193C</Force>
		<Force Id="13">D1945</Force>
		<Force Id="14">D194E</Force>
		<Force Id="15">D1957</Force>
		<Force Id="16">D1960</Force>
		<Force Id="17">D1969</Force>
		<Force Id="18">D1972</Force>
		<Force Id="19">D197B</Force>
		<Force Id="20">D1984</Force>
		<Force Id="21">D198D</Force>
		<Force Id="22">D1996</Force>
		<Force Id="23">D199F</Force>
		<Force Id="24">D19A8</Force>
		<Force Id="25">D19B1</Force>
		<Force Id="26">D19BA</Force>
		<Force Id="27">D19C3</Force>
		<Force Id="28">D19CC</Force>
		<Force Id="29">D19D5</Force>
		<Force Id="30">D19DE</Force>
		<Force Id="31">D19E7</Force>
		<Force Id="32">D19F0</Force>
		<Force Id="33">D19F9</Force>
		<Force Id="34">D1A02</Force>
		<Force Id="35">D1A0B</Force>
		<Force Id="36">D1A14</Force>
		<Force Id="37">D1A1D</Force>
		<Force Id="38">D1A26</Force>
		<Force Id="39">D1A2F</Force>
		<Force Id="40">D1A38</Force>
		<Force Id="41">D1A41</Force>
		<Force Id="42">D1A4A</Force>
		<Force Id="43">D1A53</Force>
		<Force Id="44">D1A5C</Force>
		<Force Id="45">D1A65</Force>
		<Force Id="46">D1A6E</Force>
		<Force Id="47">D1A77</Force>
		<Force Id="48">D1A80</Force>
		<Force Id="49">D1A89</Force>
		<Force Id="50">D1A92</Force>
		<Force Id="51">D1A9B</Force>
		<Force Id="52">D1AA4</Force>
		<Force Id="53">D1AAD</Force>
		<Force Id="54">D1AB6</Force>
		<Force Id="55">D1ABF</Force>
		<Force Id="56">D1AC8</Force>
		<Force Id="57">D1AD1</Force>
		<Force Id="58">D1ADA</Force>
		<Force Id="59">D1AE3</Force>
		<Force Id="60">D1AEC</Force>
		<Force Id="61">D1AF5</Force>
		<Force Id="62">D1AFE</Force>
		<Force Id="63">D1B07</Force>
		<Force Id="64">D1B10</Force>
		<Force Id="65">D1B19</Force>
		<Force Id="66">D1B22</Force>
		<Force Id="67">D1B2B</Force>
		<Force Id="68">D1B34</Force>
		<Force Id="69">D1B3D</Force>
		<Force Id="70">D1B46</Force>
		<Force Id="71">D1B4F</Force>
		<Force Id="72">D1B58</Force>
		<Force Id="73">D1B61</Force>
		<Force Id="74">D1B6A</Force>
		<Force Id="75">D1B73</Force>
		<Force Id="76">D1B7C</Force>
		<Force Id="77">D1B85</Force>
		<Force Id="78">D1B8E</Force>
		<Force Id="79">D1B97</Force>
	</Forces>
	<ForceCategories>
		<ForceCategory Id="0">8B010</ForceCategory>
		<ForceCategory Id="1">8B019</ForceCategory>
		<ForceCategory Id="2">8B022</ForceCategory>
		<ForceCategory Id="3">8B02B</ForceCategory>
		<ForceCategory Id="4">8B034</ForceCategory>
		<ForceCategory Id="5">8B03D</ForceCategory>
		<ForceCategory Id="6">8B046</ForceCategory>
		<ForceCategory Id="7">8B04F</ForceCategory>
		<ForceCategory Id="8">8B058</ForceCategory>
		<ForceCategory Id="9">8B061</ForceCategory>
		<ForceCategory Id="10">8B06A</ForceCategory>
		<ForceCategory Id="11">8B073</ForceCategory>
		<ForceCategory Id="12">8B07C</ForceCategory>
		<ForceCategory Id="13">8B085</ForceCategory>
		<ForceCategory Id="14">8B08E</ForceCategory>
		<ForceCategory Id="15">8B097</ForceCategory>
		<ForceCategory Id="16">8B0A0</ForceCategory>
		<ForceCategory Id="17">8B0A9</ForceCategory>
		<ForceCategory Id="18">8B0B2</ForceCategory>
		<ForceCategory Id="19">8B0BB</ForceCategory>
		<ForceCategory Id="20">8B0C4</ForceCategory>
		<ForceCategory Id="21">8B0CD</ForceCategory>
		<ForceCategory Id="22">8B0D6</ForceCategory>
		<ForceCategory Id="23">8B0DF</ForceCategory>
		<ForceCategory Id="24">8B0E8</ForceCategory>
		<ForceCategory Id="25">8B0F1</ForceCategory>
		<ForceCategory Id="26">8B0FA</ForceCategory>
		<ForceCategory Id="27">8B103</ForceCategory>
		<ForceCategory Id="28">8B10C</ForceCategory>
		<ForceCategory Id="29">8B115</ForceCategory>
		<ForceCategory Id="30">8B11E</ForceCategory>
		<ForceCategory Id="31">8B127</ForceCategory>
		<ForceCategory Id="32">8B130</ForceCategory>
		<ForceCategory Id="33">8B139</ForceCategory>
		<ForceCategory Id="34">8B142</ForceCategory>
		<ForceCategory Id="35">8B14B</ForceCategory>
		<ForceCategory Id="36">8B154</ForceCategory>
		<ForceCategory Id="37">8B15D</ForceCategory>
		<ForceCategory Id="38">8B166</ForceCategory>
		<ForceCategory Id="39">8B16F</ForceCategory>
	</ForceCategories>
	<ItemConfigs>
		<Configs>
			<Config Key="WeaponsMin">0</Config>
			<Config Key="WeaponsMax">19</Config>
			<Config Key="ArmorMin">20</Config>
			<Config Key="ArmorMax">25</Config>
			<Config Key="AuxiliaryMin">26</Config>
			<Config Key="AuxiliaryMax">115</Config>
			<Config Key="ConsumablesMin">71</Config>
			<Config Key="ConsumablesMax">84</Config>
			<Config Key="AssMin">85</Config>
			<Config Key="AssMax">86</Config>
			<Config Key="AtkMine">87</Config>
			<Config Key="AtkBomb">88</Config>
		</Configs>
		<Effects>
			<Effect Id="0">보통검</Effect>
			<Effect Id="1">특수검</Effect>
			<Effect Id="2">보통창</Effect>
			<Effect Id="3">특수창</Effect>
			<Effect Id="4">보통활</Effect>
			<Effect Id="5">특수활</Effect>
			<Effect Id="6">보통곤봉</Effect>
			<Effect Id="7">특수곤봉</Effect>
			<Effect Id="8">보통포차</Effect>
			<Effect Id="9">특수포차</Effect>
			<Effect Id="10">보통극</Effect>
			<Effect Id="11">특수극</Effect>
			<Effect Id="12">보통무기</Effect>
			<Effect Id="13">특수무기</Effect>
			<Effect Id="14">보통부채</Effect>
			<Effect Id="15">특수부채</Effect>
			<Effect Id="16">보통보검</Effect>
			<Effect Id="17">특수보검</Effect>
			<Effect Id="18">보통명검</Effect>
			<Effect Id="19">특수명검</Effect>
			<Effect Id="20">보통갑옷</Effect>
			<Effect Id="21">특수갑옷</Effect>
			<Effect Id="22">보통방패</Effect>
			<Effect Id="23">특수방패</Effect>
			<Effect Id="24">보통의복</Effect>
			<Effect Id="25">특수의복</Effect>
			<Effect Id="26">8A9E8</Effect>
			<Effect Id="27">8A9F5</Effect>
			<Effect Id="28">8AA02</Effect>
			<Effect Id="29">8AA11</Effect>
			<Effect Id="30">8AA1E</Effect>
			<Effect Id="31">8AA30</Effect>
			<Effect Id="32">8AA39</Effect>
			<Effect Id="33">8AA44</Effect>
			<Effect Id="34">8AA4F</Effect>
			<Effect Id="35">8AA5A</Effect>
			<Effect Id="36">8AA65</Effect>
			<Effect Id="37">8AA6E</Effect>
			<Effect Id="38">8AA75</Effect>
			<Effect Id="39">8AA7C</Effect>
			<Effect Id="40">8AA88</Effect>
			<Effect Id="41">8AA93</Effect>
			<Effect Id="42">8AA9C</Effect>
			<Effect Id="43">8AAA5</Effect>
			<Effect Id="44">8AAAE</Effect>
			<Effect Id="45">8AAB7</Effect>
			<Effect Id="46">8AAC0</Effect>
			<Effect Id="47">8AAC9</Effect>
			<Effect Id="48">8AAD6</Effect>
			<Effect Id="49">8AAE3</Effect>
			<Effect Id="50">8AAF0</Effect>
			<Effect Id="51">8AAF9</Effect>
			<Effect Id="52">8AB02</Effect>
			<Effect Id="53">8AB0D</Effect>
			<Effect Id="54">8AB16</Effect>
			<Effect Id="55">8AB1F</Effect>
			<Effect Id="56">8AB2C</Effect>
			<Effect Id="57">8AB39</Effect>
			<Effect Id="58">8AB40</Effect>
			<Effect Id="59">8AB49</Effect>
			<Effect Id="60">8AB52</Effect>
			<Effect Id="61">8AB5F</Effect>
			<Effect Id="62">8AB6C</Effect>
			<Effect Id="63">8AB79</Effect>
			<Effect Id="64">8AB84</Effect>
			<Effect Id="65">8AB91</Effect>
			<Effect Id="66">8AB9E</Effect>
			<Effect Id="67">8ABA7</Effect>
			<Effect Id="68">8ABB4</Effect>
			<Effect Id="69">8ABBF</Effect>
			<Effect Id="70">8ABCC</Effect>
			<Effect Id="89">8ABD5</Effect>
			<Effect Id="90">8ABE2</Effect>
			<Effect Id="91">8ABEB</Effect>
			<Effect Id="92">8ABF4</Effect>
			<Effect Id="93">8ABFD</Effect>
			<Effect Id="94">8AC06</Effect>
			<Effect Id="95">8AC13</Effect>
			<Effect Id="96">8AC1C</Effect>
			<Effect Id="97">8AC25</Effect>
			<Effect Id="98">8AC2E</Effect>
			<Effect Id="99">8AC37</Effect>
			<Effect Id="100">8AC40</Effect>
			<Effect Id="101">D1C10</Effect>
			<Effect Id="102">D1C19</Effect>
			<Effect Id="103">D1C22</Effect>
			<Effect Id="104">D1C2B</Effect>
			<Effect Id="105">D1C34</Effect>
			<Effect Id="106">D1C3D</Effect>
			<Effect Id="107">D1C46</Effect>
			<Effect Id="108">D1C4F</Effect>
			<Effect Id="109">D1C58</Effect>
			<Effect Id="110">D1C61</Effect>
			<Effect Id="111">D1C6A</Effect>
			<Effect Id="112">D1C73</Effect>
			<Effect Id="113">D1C7C</Effect>
			<Effect Id="114">D1C85</Effect>
			<Effect Id="115">D1C8E</Effect>
			<Effect Id="71">8ACC0</Effect>
			<Effect Id="72">8ACC7</Effect>
			<Effect Id="73">8ACCE</Effect>
			<Effect Id="74">8ACD7</Effect>
			<Effect Id="75">8ACE0</Effect>
			<Effect Id="76">8ACE9</Effect>
			<Effect Id="77">8ACF2</Effect>
			<Effect Id="78">8ACFB</Effect>
			<Effect Id="79">8AD04</Effect>
			<Effect Id="80">8AD0D</Effect>
			<Effect Id="81">8AD18</Effect>
			<Effect Id="82">8AD21</Effect>
			<Effect Id="83">8AD2A</Effect>
			<Effect Id="84">8AD33</Effect>
			<Effect Id="85">8AD3C</Effect>
			<Effect Id="86">8AD45</Effect>
			<Effect Id="87">8AD4E</Effect>
			<Effect Id="88">8AD4E</Effect>
		</Effects>
	</ItemConfigs>
	<Hitareas>
		<Hitarea Id="0">군웅 경기병</Hitarea>
		<Hitarea Id="1">보병</Hitarea>
		<Hitarea Id="2">궁병 노기병</Hitarea>
		<Hitarea Id="3">노병</Hitarea>
		<Hitarea Id="4">연노병</Hitarea>
		<Hitarea Id="5">폭염</Hitarea>
		<Hitarea Id="6">몰우전</Hitarea>
		<Hitarea Id="7">경포차</Hitarea>
		<Hitarea Id="8">벽력차</Hitarea>
		<Hitarea Id="9">궁기병</Hitarea>
		<Hitarea Id="10">전체</Hitarea>
		<Hitarea Id="11">무공격</Hitarea>
		<Hitarea Id="12">대몰우전</Hitarea>
		<Hitarea Id="13">거대몰우전</Hitarea>
		<Hitarea Id="14">공명전경포차</Hitarea>
		<Hitarea Id="15">공명전벽력차</Hitarea>
		<Hitarea Id="16">자객1</Hitarea>
		<Hitarea Id="17">자객2</Hitarea>
		<Hitarea Id="18">자객3</Hitarea>
		<Hitarea Id="19">대폭염</Hitarea>
		<Hitarea Id="20">방괴1</Hitarea>
		<Hitarea Id="21">방괴2</Hitarea>
		<Hitarea Id="22">방괴3</Hitarea>
		<Hitarea Id="23">교차일격</Hitarea>
		<Hitarea Id="24">교차이격</Hitarea>
		<Hitarea Id="25">공명전연노병</Hitarea>
		<Hitarea Id="26">영걸전연노병</Hitarea>
		<Hitarea Id="27">등궁</Hitarea>
		<Hitarea Id="28">노</Hitarea>
		<Hitarea Id="29">참월</Hitarea>
		<Hitarea Id="30">사방죽궁</Hitarea>
		<Hitarea Id="31">남만궁</Hitarea>
		<Hitarea Id="32">12격</Hitarea>
	</Hitareas>
	<Effareas>
		<Effarea Id="0">단일</Effarea>
		<Effarea Id="1">십자</Effarea>
		<Effarea Id="2">구궁</Effarea>
		<Effarea Id="3">몰우전</Effarea>
		<Effarea Id="4">이격</Effarea>
		<Effarea Id="5">육격</Effarea>
		<Effarea Id="6">대몰우전</Effarea>
		<Effarea Id="7">삼격</Effarea>
		<Effarea Id="8">방괴</Effarea>
	</Effareas>
	<CodeConfigs>
		<Names>
			<Name Id="0">책략면역</Name>
			<Name Id="1">주위사기상승</Name>
			<Name Id="2">주위HP회복</Name>
			<Name Id="3">주위MP회복</Name>
			<Name Id="4">주위상태회복</Name>
			<Name Id="5">금전방어</Name>
			<Name Id="6">물리방어</Name>
		</Names>
		<Offsets>
			<Offset Id="0">3ACDB</Offset>
			<Offset Id="1">A1F52</Offset>
			<Offset Id="2">A1F60</Offset>
			<Offset Id="3">A1F6E</Offset>
			<Offset Id="4">3C5EA</Offset>
			<Offset Id="5">A13A5</Offset>
			<Offset Id="6">A13A9</Offset>
		</Offsets>
		<Effects>
			<Effect Id="0">0</Effect>
			<Effect Id="1">0</Effect>
			<Effect Id="2">A0A0C</Effect>
			<Effect Id="3">A0A7C</Effect>
			<Effect Id="4">0</Effect>
			<Effect Id="5">0</Effect>
			<Effect Id="6">0</Effect>
		</Effects>
		<Changes>
			<Change Id="0">0</Change>
			<Change Id="1">0</Change>
			<Change Id="2">0</Change>
			<Change Id="3">1</Change>
			<Change Id="4">1</Change>
			<Change Id="5">1</Change>
			<Change Id="6">1</Change>
		</Changes>
		<Code_Names>
			<Code_Name Id="0">매턴 HP 회복</Code_Name>
			<Code_Name Id="1">매턴 MP 회복</Code_Name>
			<Code_Name Id="2">매턴 상태 회복</Code_Name>
			<Code_Name Id="3">매턴 exp 획득</Code_Name>
			<Code_Name Id="4">매턴 무기 exp 획득</Code_Name>
			<Code_Name Id="5">매턴 방어구 exp 획득</Code_Name>
			<Code_Name Id="6">능력저하(공방정순사이)</Code_Name>
			<Code_Name Id="7">속성이상공격</Code_Name>
			<Code_Name Id="8">상태이상(부금혼중)</Code_Name>
			<Code_Name Id="9">상태이상공격</Code_Name>
			<Code_Name Id="10">상태이상반사</Code_Name>
			<Code_Name Id="11">물리반사</Code_Name>
			<Code_Name Id="12">흡혈공격</Code_Name>
			<Code_Name Id="13">금전약탈</Code_Name>
			<Code_Name Id="14">방어무시</Code_Name>
			<Code_Name Id="15">분전공격</Code_Name>
			<Code_Name Id="16">인도공격</Code_Name>
			<Code_Name Id="17">돌진공격</Code_Name>
			<Code_Name Id="18">선제공격</Code_Name>
			<Code_Name Id="19">책략백발백중</Code_Name>
			<Code_Name Id="20">책략명중보조</Code_Name>
			<Code_Name Id="21">책략방어보조</Code_Name>
			<Code_Name Id="22">공격백발백중</Code_Name>
			<Code_Name Id="23">공격명중보조</Code_Name>
			<Code_Name Id="24">공격방어보조</Code_Name>
			<Code_Name Id="25">전방어보조</Code_Name>
			<Code_Name Id="26">간접피해감소</Code_Name>
			<Code_Name Id="27">물리피해감소</Code_Name>
			<Code_Name Id="28">SP보조</Code_Name>
			<Code_Name Id="29">반격후반격</Code_Name>
			<Code_Name Id="30">무반격공격</Code_Name>
			<Code_Name Id="31">책략위력보조</Code_Name>
			<Code_Name Id="32">원소책략보조</Code_Name>
			<Code_Name Id="33">책략피해감소</Code_Name>
			<Code_Name Id="34">날씨무시책략</Code_Name>
			<Code_Name Id="35">지형무시책략</Code_Name>
			<Code_Name Id="36">보복공격</Code_Name>
			<Code_Name Id="37">책략모방</Code_Name>
			<Code_Name Id="38">MP절약</Code_Name>
			<Code_Name Id="39">간접공격방어</Code_Name>
			<Code_Name Id="40">치명일격방어</Code_Name>
			<Code_Name Id="41">이차공격방어</Code_Name>
			<Code_Name Id="42">MP방어</Code_Name>
			<Code_Name Id="43">치명일격</Code_Name>
			<Code_Name Id="44">주동공격</Code_Name>
			<Code_Name Id="45">연환공격</Code_Name>
			<Code_Name Id="46">비상이동</Code_Name>
			<Code_Name Id="47">돌격이동</Code_Name>
			<Code_Name Id="48">연속행동</Code_Name>
			<Code_Name Id="49">능력각성</Code_Name>
			<Code_Name Id="50">연속책략</Code_Name>
			<Code_Name Id="51">지원공격</Code_Name>
			<Code_Name Id="52">일치단결</Code_Name>
			<Code_Name Id="53">능력정화</Code_Name>
			<Code_Name Id="54">자동능력상승(+7)</Code_Name>
			<Code_Name Id="55">공훈획득</Code_Name>
			<Code_Name Id="56">은신방어</Code_Name>
			<Code_Name Id="57">일기당천</Code_Name>
			<Code_Name Id="58">반격강화</Code_Name>
			<Code_Name Id="59">책략사용(+8)</Code_Name>
			<Code_Name Id="60">악전고투</Code_Name>
			<Code_Name Id="61">MP공격</Code_Name>
			<Code_Name Id="62">공격유도</Code_Name>
		</Code_Names>
		<Code_Offsets>
			<Code_Offset Id="0">3C25C</Code_Offset>
			<Code_Offset Id="1">3C299</Code_Offset>
			<Code_Offset Id="2">3BB48</Code_Offset>
			<Code_Offset Id="3">3C2E5</Code_Offset>
			<Code_Offset Id="4">3C310</Code_Offset>
			<Code_Offset Id="5">3C33B</Code_Offset>
			<Code_Offset Id="6">2DD1</Code_Offset>
			<Code_Offset Id="7">72166</Code_Offset>
			<Code_Offset Id="8">2E32</Code_Offset>
			<Code_Offset Id="9">4E6C</Code_Offset>
			<Code_Offset Id="10">7205D</Code_Offset>
			<Code_Offset Id="11">40277</Code_Offset>
			<Code_Offset Id="12">5F8C</Code_Offset>
			<Code_Offset Id="13">5FDD</Code_Offset>
			<Code_Offset Id="14">3B0B3</Code_Offset>
			<Code_Offset Id="15">3581B</Code_Offset>
			<Code_Offset Id="16">A0BEC</Code_Offset>
			<Code_Offset Id="17">3B22D</Code_Offset>
			<Code_Offset Id="18">10314</Code_Offset>
			<Code_Offset Id="19">3ABD3</Code_Offset>
			<Code_Offset Id="20">3ADA9</Code_Offset>
			<Code_Offset Id="21">3ACB6</Code_Offset>
			<Code_Offset Id="22">3AA7C</Code_Offset>
			<Code_Offset Id="23">3AA94</Code_Offset>
			<Code_Offset Id="24">3AAB9</Code_Offset>
			<Code_Offset Id="25">102E5</Code_Offset>
			<Code_Offset Id="26">3B1EF</Code_Offset>
			<Code_Offset Id="27">3B25B</Code_Offset>
			<Code_Offset Id="28">103EB</Code_Offset>
			<Code_Offset Id="29">5822</Code_Offset>
			<Code_Offset Id="30">587E</Code_Offset>
			<Code_Offset Id="31">51C7</Code_Offset>
			<Code_Offset Id="32">3B65B</Code_Offset>
			<Code_Offset Id="33">3B67B</Code_Offset>
			<Code_Offset Id="34">1F319</Code_Offset>
			<Code_Offset Id="35">1CD35</Code_Offset>
			<Code_Offset Id="36">78312</Code_Offset>
			<Code_Offset Id="37">A152E</Code_Offset>
			<Code_Offset Id="38">4D353</Code_Offset>
			<Code_Offset Id="39">3ECD3</Code_Offset>
			<Code_Offset Id="40">51D9</Code_Offset>
			<Code_Offset Id="41">5337</Code_Offset>
			<Code_Offset Id="42">A151C</Code_Offset>
			<Code_Offset Id="43">4EDB3</Code_Offset>
			<Code_Offset Id="44">50ED</Code_Offset>
			<Code_Offset Id="45">54E8</Code_Offset>
			<Code_Offset Id="46">2E82</Code_Offset>
			<Code_Offset Id="47">371A2</Code_Offset>
			<Code_Offset Id="48">A1493</Code_Offset>
			<Code_Offset Id="49">3B7D6</Code_Offset>
			<Code_Offset Id="50">384C1</Code_Offset>
			<Code_Offset Id="51">3832C</Code_Offset>
			<Code_Offset Id="52">3BF58</Code_Offset>
			<Code_Offset Id="53">361FA</Code_Offset>
			<Code_Offset Id="54">3C430</Code_Offset>
			<Code_Offset Id="55">29FAD</Code_Offset>
			<Code_Offset Id="56">78279</Code_Offset>
			<Code_Offset Id="57">782B5</Code_Offset>
			<Code_Offset Id="58">3B29C</Code_Offset>
			<Code_Offset Id="59">3D5B6</Code_Offset>
			<Code_Offset Id="60">5AA94</Code_Offset>
			<Code_Offset Id="61">5A66</Code_Offset>
			<Code_Offset Id="62">4EDD3</Code_Offset>
		</Code_Offsets>
	</CodeConfigs>
	<TreasureConfigs>
		<AbilAs_Names>
			<AbilAs_Name Id="0">공격력보조</AbilAs_Name>
			<AbilAs_Name Id="1">방어력보조</AbilAs_Name>
			<AbilAs_Name Id="2">정신력보조</AbilAs_Name>
			<AbilAs_Name Id="3">순발력보조</AbilAs_Name>
			<AbilAs_Name Id="4">사기보조</AbilAs_Name>
			<AbilAs_Name Id="5">HP보조</AbilAs_Name>
			<AbilAs_Name Id="6">MP보조</AbilAs_Name>
			<AbilAs_Name Id="7">획득Exp보조</AbilAs_Name>
			<AbilAs_Name Id="8">이동력보조</AbilAs_Name>
			<AbilAs_Name Id="9">능력정화</AbilAs_Name>
			<AbilAs_Name Id="10">능력각성</AbilAs_Name>
			<AbilAs_Name Id="11">일치단결</AbilAs_Name>
			<AbilAs_Name Id="12">일기당천</AbilAs_Name>
			<AbilAs_Name Id="13">악전고투</AbilAs_Name>
			<AbilAs_Name Id="14">MP공격</AbilAs_Name>
		</AbilAs_Names>
		<AbilAs_Offsets>
			<AbilAs_Offset Id="0">5BF8</AbilAs_Offset>
			<AbilAs_Offset Id="1">5C00</AbilAs_Offset>
			<AbilAs_Offset Id="2">5C08</AbilAs_Offset>
			<AbilAs_Offset Id="3">5C10</AbilAs_Offset>
			<AbilAs_Offset Id="4">5C18</AbilAs_Offset>
			<AbilAs_Offset Id="5">5C20</AbilAs_Offset>
			<AbilAs_Offset Id="6">5C28</AbilAs_Offset>
			<AbilAs_Offset Id="7">5C30</AbilAs_Offset>
			<AbilAs_Offset Id="8">5C38</AbilAs_Offset>
			<AbilAs_Offset Id="9">361F8</AbilAs_Offset>
			<AbilAs_Offset Id="10">3B7D4</AbilAs_Offset>
			<AbilAs_Offset Id="11">3BF56</AbilAs_Offset>
			<AbilAs_Offset Id="12">782B3</AbilAs_Offset>
			<AbilAs_Offset Id="13">5AA92</AbilAs_Offset>
			<AbilAs_Offset Id="14">5A64</AbilAs_Offset>
		</AbilAs_Offsets>
		<SpcAtk_Names>
			<SpcAtk_Name Id="0">치명일격</SpcAtk_Name>
			<SpcAtk_Name Id="1">주동/연환공격</SpcAtk_Name>
			<SpcAtk_Name Id="2">인도/분전공격</SpcAtk_Name>
			<SpcAtk_Name Id="3">강화/돌파공격</SpcAtk_Name>
			<SpcAtk_Name Id="4">관통공격</SpcAtk_Name>
			<SpcAtk_Name Id="5">무반격공격</SpcAtk_Name>
			<SpcAtk_Name Id="6">반격후반격</SpcAtk_Name>
			<SpcAtk_Name Id="7">흡혈공격</SpcAtk_Name>
			<SpcAtk_Name Id="8">금전약탈</SpcAtk_Name>
			<SpcAtk_Name Id="9">선제공격</SpcAtk_Name>
			<SpcAtk_Name Id="10">지원공격</SpcAtk_Name>
			<SpcAtk_Name Id="11">돌진공격</SpcAtk_Name>
			<SpcAtk_Name Id="12">반격강화</SpcAtk_Name>
			<SpcAtk_Name Id="13">보복공격</SpcAtk_Name>
			<SpcAtk_Name Id="14">간접공격1</SpcAtk_Name>
			<SpcAtk_Name Id="15">간접공격2</SpcAtk_Name>
			<SpcAtk_Name Id="16">간접공격3</SpcAtk_Name>
			<SpcAtk_Name Id="17">방어무시</SpcAtk_Name>
		</SpcAtk_Names>
		<SpcAtk_Offsets>
			<SpcAtk_Offset Id="0">4EDB1</SpcAtk_Offset>
			<SpcAtk_Offset Id="1">50EB</SpcAtk_Offset>
			<SpcAtk_Offset Id="2">A0BEA</SpcAtk_Offset>
			<SpcAtk_Offset Id="3">10489</SpcAtk_Offset>
			<SpcAtk_Offset Id="4">6C5A</SpcAtk_Offset>
			<SpcAtk_Offset Id="5">587C</SpcAtk_Offset>
			<SpcAtk_Offset Id="6">5820</SpcAtk_Offset>
			<SpcAtk_Offset Id="7">5F8A</SpcAtk_Offset>
			<SpcAtk_Offset Id="8">5FDB</SpcAtk_Offset>
			<SpcAtk_Offset Id="9">10312</SpcAtk_Offset>
			<SpcAtk_Offset Id="10">3832A</SpcAtk_Offset>
			<SpcAtk_Offset Id="11">3B22B</SpcAtk_Offset>
			<SpcAtk_Offset Id="12">3B29A</SpcAtk_Offset>
			<SpcAtk_Offset Id="13">78310</SpcAtk_Offset>
			<SpcAtk_Offset Id="14">3ECF7</SpcAtk_Offset>
			<SpcAtk_Offset Id="15">3ED02</SpcAtk_Offset>
			<SpcAtk_Offset Id="16">3ED14</SpcAtk_Offset>
			<SpcAtk_Offset Id="17">3B0B1</SpcAtk_Offset>
		</SpcAtk_Offsets>
		<AtkDef_Names>
			<AtkDef_Name Id="0">공격백발백중</AtkDef_Name>
			<AtkDef_Name Id="1">공격명중보조</AtkDef_Name>
			<AtkDef_Name Id="2">공격방어보조</AtkDef_Name>
			<AtkDef_Name Id="3">전방어보조</AtkDef_Name>
		</AtkDef_Names>
		<AtkDef_Offsets>
			<AtkDef_Offset Id="0">3AA7A</AtkDef_Offset>
			<AtkDef_Offset Id="1">3AA92</AtkDef_Offset>
			<AtkDef_Offset Id="2">3AAB7</AtkDef_Offset>
			<AtkDef_Offset Id="3">102E3</AtkDef_Offset>
		</AtkDef_Offsets>
		<Debuff_Names>
			<Debuff_Name Id="0">공격저하</Debuff_Name>
			<Debuff_Name Id="1">방어저하</Debuff_Name>
			<Debuff_Name Id="2">정신저하</Debuff_Name>
			<Debuff_Name Id="3">순발저하</Debuff_Name>
			<Debuff_Name Id="4">사기저하</Debuff_Name>
			<Debuff_Name Id="5">이동저하</Debuff_Name>
			<Debuff_Name Id="6">속성이상공격</Debuff_Name>
		</Debuff_Names>
		<Debuff_Offsets>
			<Debuff_Offset Id="0">37219</Debuff_Offset>
			<Debuff_Offset Id="1">3721A</Debuff_Offset>
			<Debuff_Offset Id="2">3721B</Debuff_Offset>
			<Debuff_Offset Id="3">3721C</Debuff_Offset>
			<Debuff_Offset Id="4">3721D</Debuff_Offset>
			<Debuff_Offset Id="5">3721E</Debuff_Offset>
			<Debuff_Offset Id="6">72164</Debuff_Offset>
		</Debuff_Offsets>
		<EffAtk_Names>
			<EffAtk_Name Id="0">부동공격</EffAtk_Name>
			<EffAtk_Name Id="1">금책공격</EffAtk_Name>
			<EffAtk_Name Id="2">혼란공격</EffAtk_Name>
			<EffAtk_Name Id="3">중독공격</EffAtk_Name>
			<EffAtk_Name Id="4">상태이상공격</EffAtk_Name>
		</EffAtk_Names>
		<EffAtk_Offsets>
			<EffAtk_Offset Id="0">3721F</EffAtk_Offset>
			<EffAtk_Offset Id="1">37220</EffAtk_Offset>
			<EffAtk_Offset Id="2">37221</EffAtk_Offset>
			<EffAtk_Offset Id="3">37222</EffAtk_Offset>
			<EffAtk_Offset Id="4">4E6A</EffAtk_Offset>
		</EffAtk_Offsets>
		<SpcDef_Names>
			<SpcDef_Name Id="0">치명일격방어</SpcDef_Name>
			<SpcDef_Name Id="1">이차공격방어</SpcDef_Name>
			<SpcDef_Name Id="2">간접공격방어</SpcDef_Name>
			<SpcDef_Name Id="3">상태이상반사</SpcDef_Name>
			<SpcDef_Name Id="4">MP방어</SpcDef_Name>
			<SpcDef_Name Id="5">금전방어</SpcDef_Name>
		</SpcDef_Names>
		<SpcDef_Offsets>
			<SpcDef_Offset Id="0">51D7</SpcDef_Offset>
			<SpcDef_Offset Id="1">5335</SpcDef_Offset>
			<SpcDef_Offset Id="2">3ECD1</SpcDef_Offset>
			<SpcDef_Offset Id="3">7205B</SpcDef_Offset>
			<SpcDef_Offset Id="4">A1508</SpcDef_Offset>
			<SpcDef_Offset Id="5">A13AD</SpcDef_Offset>
		</SpcDef_Offsets>
		<DecDmg_Names>
			<DecDmg_Name Id="0">간접피해감소</DecDmg_Name>
			<DecDmg_Name Id="1">물리피해감소</DecDmg_Name>
			<DecDmg_Name Id="2">책략피해감소</DecDmg_Name>
		</DecDmg_Names>
		<DecDmg_Offsets>
			<DecDmg_Offset Id="0">3B1ED</DecDmg_Offset>
			<DecDmg_Offset Id="1">3B259</DecDmg_Offset>
			<DecDmg_Offset Id="2">3B679</DecDmg_Offset>
		</DecDmg_Offsets>
		<TerMov_Names>
			<TerMov_Name Id="0">지형효과보조</TerMov_Name>
			<TerMov_Name Id="1">수전보조</TerMov_Name>
			<TerMov_Name Id="2">돌격이동</TerMov_Name>
			<TerMov_Name Id="3">험로이동</TerMov_Name>
			<TerMov_Name Id="4">비상이동</TerMov_Name>
		</TerMov_Names>
		<TerMov_Offsets>
			<TerMov_Offset Id="0">3EC67</TerMov_Offset>
			<TerMov_Offset Id="1">A0AD2</TerMov_Offset>
			<TerMov_Offset Id="2">371A0</TerMov_Offset>
			<TerMov_Offset Id="3">3EC7C</TerMov_Offset>
			<TerMov_Offset Id="4">2E80</TerMov_Offset>
		</TerMov_Offsets>
		<Magic_Names>
			<Magic_Name Id="0">원소책략보조</Magic_Name>
			<Magic_Name Id="1">책략위력보조</Magic_Name>
			<Magic_Name Id="2">MP절약</Magic_Name>
			<Magic_Name Id="3">날씨무시책략</Magic_Name>
			<Magic_Name Id="4">지형무시책략</Magic_Name>
			<Magic_Name Id="5">책략모방</Magic_Name>
			<Magic_Name Id="6">책략백발백중</Magic_Name>
			<Magic_Name Id="7">책략명중보조</Magic_Name>
			<Magic_Name Id="8">책략방어보조</Magic_Name>
			<Magic_Name Id="9">책략사용</Magic_Name>
			<Magic_Name Id="10">연속책략</Magic_Name>
			<Magic_Name Id="11">사신소환</Magic_Name>
		</Magic_Names>
		<Magic_Offsets>
			<Magic_Offset Id="0">3B659</Magic_Offset>
			<Magic_Offset Id="1">51C5</Magic_Offset>
			<Magic_Offset Id="2">4D351</Magic_Offset>
			<Magic_Offset Id="3">1F317</Magic_Offset>
			<Magic_Offset Id="4">1CD33</Magic_Offset>
			<Magic_Offset Id="5">A152C</Magic_Offset>
			<Magic_Offset Id="6">3ABD1</Magic_Offset>
			<Magic_Offset Id="7">3ADA7</Magic_Offset>
			<Magic_Offset Id="8">3ACB4</Magic_Offset>
			<Magic_Offset Id="9">3D5B0</Magic_Offset>
			<Magic_Offset Id="10">384BF</Magic_Offset>
			<Magic_Offset Id="11">1F388</Magic_Offset>
		</Magic_Offsets>
		<Turn_Names>
			<Turn_Name Id="0">매턴 HP 회복</Turn_Name>
			<Turn_Name Id="1">매턴 MP 회복</Turn_Name>
			<Turn_Name Id="2">매턴 상태 회복</Turn_Name>
			<Turn_Name Id="3">매턴 Exp 획득</Turn_Name>
			<Turn_Name Id="4">매턴 무기 Exp</Turn_Name>
			<Turn_Name Id="5">매턴 방어 Exp</Turn_Name>
			<Turn_Name Id="6">자동상승</Turn_Name>
		</Turn_Names>
		<Turn_Offsets>
			<Turn_Offset Id="0">3C25A</Turn_Offset>
			<Turn_Offset Id="1">3C297</Turn_Offset>
			<Turn_Offset Id="2">3BB46</Turn_Offset>
			<Turn_Offset Id="3">3C2E3</Turn_Offset>
			<Turn_Offset Id="4">3C30E</Turn_Offset>
			<Turn_Offset Id="5">3C339</Turn_Offset>
			<Turn_Offset Id="6">3C42D</Turn_Offset>
		</Turn_Offsets>
		<Etc_Names>
			<Etc_Name Id="0">연속행동</Etc_Name>
			<Etc_Name Id="1">SP보조</Etc_Name>
			<Etc_Name Id="2">자동사용</Etc_Name>
			<Etc_Name Id="3">물리반사</Etc_Name>
			<Etc_Name Id="4">공훈추가</Etc_Name>
			<Etc_Name Id="5">은신방어</Etc_Name>
			<Etc_Name Id="6">공격유도</Etc_Name>
		</Etc_Names>
		<Etc_Offsets>
			<Etc_Offset Id="0">A1491</Etc_Offset>
			<Etc_Offset Id="1">103E9</Etc_Offset>
			<Etc_Offset Id="2">222E8</Etc_Offset>
			<Etc_Offset Id="3">40275</Etc_Offset>
			<Etc_Offset Id="4">29FAB</Etc_Offset>
			<Etc_Offset Id="5">78277</Etc_Offset>
			<Etc_Offset Id="6">4EDD1</Etc_Offset>
		</Etc_Offsets>
	</TreasureConfigs>
	<SpecialConfigs>
		<Skill_Names>
			<Skill_Name Id="0">공격력상승</Skill_Name>
			<Skill_Name Id="1">방어력상승</Skill_Name>
			<Skill_Name Id="2">정신력상승</Skill_Name>
			<Skill_Name Id="3">순발력상승</Skill_Name>
			<Skill_Name Id="4">사기상승</Skill_Name>
			<Skill_Name Id="5">이동력상승</Skill_Name>
			<Skill_Name Id="6">전능상승</Skill_Name>
			<Skill_Name Id="7">공격저하</Skill_Name>
			<Skill_Name Id="8">방어저하</Skill_Name>
			<Skill_Name Id="9">정신저하</Skill_Name>
			<Skill_Name Id="10">순발저하</Skill_Name>
			<Skill_Name Id="11">사기저하</Skill_Name>
			<Skill_Name Id="12">이동저하</Skill_Name>
			<Skill_Name Id="13">속성이상공격</Skill_Name>
			<Skill_Name Id="14">부동공격</Skill_Name>
			<Skill_Name Id="15">금책공격</Skill_Name>
			<Skill_Name Id="16">혼란공격</Skill_Name>
			<Skill_Name Id="17">중독공격</Skill_Name>
			<Skill_Name Id="18">상태이상공격</Skill_Name>
			<Skill_Name Id="19">흡혈공격</Skill_Name>
			<Skill_Name Id="20">방어무시</Skill_Name>
			<Skill_Name Id="21">돌파공격</Skill_Name>
			<Skill_Name Id="22">분전공격</Skill_Name>
			<Skill_Name Id="23">관통공격1</Skill_Name>
			<Skill_Name Id="24">관통공격2</Skill_Name>
			<Skill_Name Id="25">관통공격3</Skill_Name>
			<Skill_Name Id="26">관통공격4</Skill_Name>
		</Skill_Names>
		<Class_Offsets>
			<Class_Offset Id="0">8AF26</Class_Offset>
			<Class_Offset Id="1">8AF28</Class_Offset>
			<Class_Offset Id="2">8AF2A</Class_Offset>
			<Class_Offset Id="3">8AF2C</Class_Offset>
			<Class_Offset Id="4">8AF2E</Class_Offset>
		</Class_Offsets>
		<ClassLimit_Offsets>
			<ClassLimit_Offset Id="0">0</ClassLimit_Offset>
			<ClassLimit_Offset Id="1">6719</ClassLimit_Offset>
			<ClassLimit_Offset Id="2">6711</ClassLimit_Offset>
			<ClassLimit_Offset Id="3">6709</ClassLimit_Offset>
			<ClassLimit_Offset Id="4">6701</ClassLimit_Offset>
		</ClassLimit_Offsets>
		<EquipmentExp_Offsets>
			<EquipmentExp_Offset Id="0">2D28</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="1">2D47</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="2">2F03</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="3">2F17</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="4">20738</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="5">20754</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="6">207FF</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="7">2D31</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="8">2D3E</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="9">2F0F</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="10">2074C</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="11">20813</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="12">2D05</EquipmentExp_Offset>
			<EquipmentExp_Offset Id="13">206EF</EquipmentExp_Offset>
		</EquipmentExp_Offsets>
	</SpecialConfigs>
	<MagicConfigs>
		<TypeName_Offsets>
			<TypeName_Offset Id="0">8AD60</TypeName_Offset>
			<TypeName_Offset Id="1">8AD69</TypeName_Offset>
			<TypeName_Offset Id="2">8AD72</TypeName_Offset>
			<TypeName_Offset Id="3">8AD7B</TypeName_Offset>
			<TypeName_Offset Id="4">8AD84</TypeName_Offset>
			<TypeName_Offset Id="5">8AD89</TypeName_Offset>
			<TypeName_Offset Id="6">8AD90</TypeName_Offset>
			<TypeName_Offset Id="7">8AD97</TypeName_Offset>
			<TypeName_Offset Id="8">8ADA0</TypeName_Offset>
			<TypeName_Offset Id="9">8ADA9</TypeName_Offset>
			<TypeName_Offset Id="10">8ADB2</TypeName_Offset>
			<TypeName_Offset Id="11">8ADBB</TypeName_Offset>
			<TypeName_Offset Id="12">8ADC4</TypeName_Offset>
			<TypeName_Offset Id="13">8ADCD</TypeName_Offset>
			<TypeName_Offset Id="14">8ADD6</TypeName_Offset>
			<TypeName_Offset Id="15">8ADDF</TypeName_Offset>
			<TypeName_Offset Id="16">8ADE4</TypeName_Offset>
			<TypeName_Offset Id="17">8ADE9</TypeName_Offset>
			<TypeName_Offset Id="18">8ADEE</TypeName_Offset>
			<TypeName_Offset Id="19">8ADF3</TypeName_Offset>
			<TypeName_Offset Id="20">8ADFA</TypeName_Offset>
			<TypeName_Offset Id="21">8AE01</TypeName_Offset>
			<TypeName_Offset Id="22">8AE0A</TypeName_Offset>
			<TypeName_Offset Id="23">8AE13</TypeName_Offset>
			<TypeName_Offset Id="24">8AE1C</TypeName_Offset>
			<TypeName_Offset Id="25">8AE21</TypeName_Offset>
			<TypeName_Offset Id="26">8AE26</TypeName_Offset>
			<TypeName_Offset Id="27">8AE2F</TypeName_Offset>
			<TypeName_Offset Id="28">8AE38</TypeName_Offset>
			<TypeName_Offset Id="29">8AE41</TypeName_Offset>
			<TypeName_Offset Id="30">8AE4A</TypeName_Offset>
			<TypeName_Offset Id="31">8AE53</TypeName_Offset>
			<TypeName_Offset Id="32">8AE5C</TypeName_Offset>
			<TypeName_Offset Id="33">8AE65</TypeName_Offset>
		</TypeName_Offsets>
	</MagicConfigs>
</Config>