<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JoJoScenarioEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RecentFiles" value="[&quot;C:\\Users\\USER\\Desktop\\hero\\신영걸\\Rs\\R_32.eex&quot;,&quot;C:\\Users\\USER\\Desktop\\hero\\신영걸\\Rs\\R_02.eex&quot;,&quot;C:\\Users\\USER\\Desktop\\hero\\신영걸\\Rs\\R_01.eex&quot;,&quot;C:\\Users\\USER\\Desktop\\hero\\신영걸\\Rs\\R_31.eex&quot;,&quot;C:\\Users\\USER\\Desktop\\hero\\신영걸\\Rs\\R_00.eex&quot;,&quot;C:\\Users\\USER\\Desktop\\hero\\신영걸\\Rs\\R_30.eex&quot;,&quot;C:\\Users\\USER\\Desktop\\hero\\신영걸\\Rs\\R_29.eex&quot;,&quot;C:\\Users\\USER\\Desktop\\hero\\신영걸\\Rs\\R_04.eex&quot;,&quot;C:\\Users\\USER\\Desktop\\hero\\신영걸\\Rs\\R_28.eex&quot;,&quot;C:\\Users\\USER\\Desktop\\hero\\신영걸\\Rs\\R_05.eex&quot;]" />
  </appSettings>
  <userSettings>
    <JoJoScenarioEditor.Properties.Settings>
      <setting name="CurrentConfigType" serializeAs="String">
        <value>Default.config</value>
      </setting>
      <setting name="CurrentFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MenuCharSelect" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AddVariableToCharList" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FixEditPanel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditPanelDirection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EditPanelDisplayType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DefaultEditPanelWidth" serializeAs="String">
        <value>230</value>
      </setting>
      <setting name="DefaultEditPanelHeight" serializeAs="String">
        <value>74</value>
      </setting>
      <setting name="RecentFiles" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SelectedCharacterList" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SavedCharterList" serializeAs="String">
        <value>["기본"]</value>
      </setting>
      <setting name="ExceptChartersList" serializeAs="String">
        <value>[[]]</value>
      </setting>
      <setting name="FastAddMenuNumbers" serializeAs="String">
        <value>[]</value>
      </setting>
      <setting name="FocusControl" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoBackup" serializeAs="String">
        <value>False</value>
      </setting>
    </JoJoScenarioEditor.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- BEGIN: Added by PostSharp -->
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-4.3.23.0" newVersion="4.3.23.0" />
      </dependentAssembly>
      <!-- END: Added by PostSharp -->
    </assemblyBinding>
  </runtime>
</configuration>